<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.oulu.acp.communityreminder" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <permission
        android:name="fi.oulu.acp.communityreminder.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".EmergencyButton"
            android:label="@string/title_activity_emergency_button"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.oulu.acp.communityreminder.MainActivity" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.oulu.acp.communityreminder.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".HomeStatusActivity"
            android:label="@string/title_activity_home_status"
            android:value="fi.oulu.acp.communityreminder.HomeStatusActivity" >
        </activity>

        <receiver android:name=".HomeStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="fi.oulu.acp.communityreminder" />
            </intent-filter>
        </receiver>

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".PedometerActivity"
            android:label="@string/title_activity_pedometer" >
        </activity>

        <service
            android:name=".StepService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".TemperatureActivity"
            android:label="@string/title_activity_temperature"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.oulu.acp.communityreminder.MainActivity" />
        </activity>
        <activity
            android:name=".AddContactListActivity"
            android:label="@string/title_activity_add_contacts" >
        </activity>
        <activity
            android:name=".ContactListActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_signin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
        </activity>

        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>

        <service
            android:name=".services.TemperatureService"
            android:exported="false" />

        <service
            android:name=".services.ResetValues"
            android:exported="false" />

        <receiver android:name=".TemperatureBroadcastReceiver" />
        <receiver android:name=".TemperatureNotificationManager" />
        <receiver android:name=".receivers.BatteryLevelReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BATTERY_LOW"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
    </application>

</manifest>
